@import "normalize";
@import "compass/css3/images";
@import "typography";
@import "compass/utilities/general/clearfix";

$brand-color: #F15E25;

body {
    font-family: 'Lato', Arial, sans-serif;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAMklEQVQIW2N89+7dfwYk8P79ewZGZEGQgKCgIEIQJgDSBFYJE4CrvHv37n+QFhgASQAAo6YkjTRGUT8AAAAASUVORK5CYII=);
    text-shadow: 1px 1px 1px #fff;
    color: #666;
    line-height: 1.6em;
}

a { text-decoration: none; color: $brand-color; border-radius: .5em; }
a:hover { background-color: rgba(255,255,255,.7); }

pre {
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    border: 1px solid #ccc;
    background: rgba(255,255,255,.3);
    padding: 1em;
    box-sizing: border-box;
}

.canvas { max-width: 960px; margin: 0 auto; padding: 1em; }

.brand {
    background: #fff;
    display: inline-block;
    padding: .4em 1em .4em 2em;
    font-size: 1.8em;
    border-radius: 1em;
    font-weight: bold;
    text-shadow: none;
    position: relative;
    margin: 0 0 .5em; 
    line-height: 1.2em;
    
    &:before {
        content: '';
        position: absolute;
        top: .2em;
        left: .2em;
        background: url(http://www.wearysloth.com/Gallery/ActorsM/11094-20438.gif) top left no-repeat;
        background-size: 100% 100%;
        display: block;
        width: 1.6em;
        height: 1.6em;
        border-radius: .8em;
        opacity: .4;

        filter: grayscale(100%); /* Current draft standard */
        -webkit-filter: grayscale(100%); /* New WebKit */
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%); 
        -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
        filter: gray; /* IE */
        -webkit-filter: grayscale(1); /* Old WebKit */
    }

    &:hover {
        text-decoration: none;
        background: $brand-color;
        color: #fff;

        &:before {
            filter: grayscale(0%); /* Current draft standard */
            -webkit-filter: grayscale(0%); /* New WebKit */
            -moz-filter: grayscale(0%);
            -ms-filter: grayscale(0%); 
            -o-filter: grayscale(0%); /* Not yet supported in Gecko, Opera or IE */ 
            filter: none; /* IE */
            -webkit-filter: grayscale(0); /* Old WebKit */
            opacity: 1;
        }
    }
}

.main { 
    padding: 1em 0;

    img { max-width: 100%; height: auto; }
}

.page-header {
    text-align: center;
    @include pie-clearfix();

    ul { margin: 0; padding: 0; list-style-type: none; }
    li { display: inline; }
    li a {
        display: inline-block;
        background: #fff;
        padding: .5em;
        border-radius: 1.3em;
        margin: 0 .5em;
        color: #333;
        text-shadow: none;
        line-height: 1.6em;
        height: 1.6em;
        width: 1.6em;
        text-align: center;

        &:hover {
            background: #666;
            color: #fff;
        }
        span { display: none; }
    }
}

.page-footer {

    padding: 2em 0;
    color: #999;
    text-align: center;

    a { color: #777; }
}

.posts {  
    font-size: .8em;  
    a {
        background: #f3f3f3;
        border-radius: 1em;
        display: block;
        padding: .5em 5em .5em 1em;
        margin: 0 0 1em;
        position: relative;

        span { 
            color: #bbb; 
            position: absolute;
            top: .5em;
            right: 1em;
        }
        &:hover {
            background: #fff;
        }
    }
}

@media (min-width: 35em) {
    .posts { font-size: 1em; }
    .brand { font-size: 2.6em; float: left; }
    .page-header { 
        text-align: left; 
        ul { 
            float: right; 
            display: block; 
            padding: 1.2em 0 0;
        }
    }
}