/* line 6, ../examples/slide-in-menu/app.css.scss */
body {
  background: #ccc; }

/* line 10, ../examples/slide-in-menu/app.css.scss */
.primary-menu {
  background: #999999;
  width: 30%;
  min-height: 100%; }
  /* line 15, ../examples/slide-in-menu/app.css.scss */
  .primary-menu ul, .primary-menu li {
    margin: 0;
    padding: 0;
    list-style: none; }
  /* line 20, ../examples/slide-in-menu/app.css.scss */
  .primary-menu ul {
    width: 100%;
    background: #999999;
    position: relative; }
  /* line 25, ../examples/slide-in-menu/app.css.scss */
  .primary-menu > ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100%; }
  /* line 32, ../examples/slide-in-menu/app.css.scss */
  .primary-menu li a {
    display: block;
    border-top: 1px solid #666666;
    color: #fff;
    padding: .8em;
    background-position: center right;
    background-repeat: no-repeat;
    *zoom: 1; }
    /* line 38, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    .primary-menu li a:after {
      content: "";
      display: table;
      clear: both; }
